<!DOCTYPE html>
<html>
  <% include partials/template/head.ejs %>
  <body data-id=<%=movieID%> id="movie-page">
    <% include partials/template/header.ejs %>
    <div class="container go-back">
      <div class="row">
        <div class=" column-go-back col-md-4">
            <a href="/"><img src="/images/arrow-left.svg" alt="go back"> <span>Return to Search</span> </a>
        </div>
      </div>
    </div>
    <div id="movieWrap" class="container position-relative">
      <% include partials/content/movie-page.ejs %>
      <% include partials/template/footer.ejs %>
    </div>
    <% include partials/content/loader.ejs %>
    <% include partials/template/scripts.ejs %>
  </body>
</html>
