<nav class="navbar navbar-default index-page">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Netflix Scope</a>
        </div>
    </div>
</nav>