<div id="movie" class=" container well">
    <div class="row">
        <div class="movie-title">
            <h2 id="movie-title"><%= movieTitle %></h2>
        </div>

        <div class="col-md-4 big-pic">
            <div class="big-pic">
                <img id="poster" src="/images/placeholder.jpg" onerror="imgError(this);" class="thumbnail">
            </div>

            <div class="rates">
                <li class="list-group-item"><strong>IMDB Rating:</strong> <span id="imdb-rating"></span></li>
            </div>

        </div>

        <div class="col-md-8 about-movie">
            <ul id="list-about" class="list-group placeholder">
                <li class="list-group-item">Genres</li>
                <li class="list-group-item">Production</li>
                <li class="list-group-item"><strong>Director:</strong> </li>
                <li class="list-group-item"><strong>Created by:</strong></li>
                <li class="list-group-item"><strong>Starring:</strong></li>
                <li class="list-group-item"><strong>Plot:</strong></li>                
            </ul>
        </div>

        <div class="container">
            <h1 class="c-title">Available in:</h1>
            <div id="countries" class="row">
                
            </div>
        </div>
    </div>
</div>
