<div class="container">
    <div class="searchWrap">
        <div class="radioWrap" id="radioWrap">
          <span class="legend">Search by: </span>
          <div class="container-title">
            <input type="radio" id="radio-title" name="typeFilter" value="titles" checked="checked"/> <label for="radio-title">title</label> 
          </div>
          <div class="container-people">
            <input type="radio" id="radio-people" name="typeFilter" value="people"/> <label for="radio-people">actor, director</label>
          </div>
        </div>
        <form id="searchForm">
          <div class="row">
              <div class="iconSVG">
                  <img src="/images/magglass.svg" aria-hidden="true">
              </div>
            <div class="col-md-9 col-lg-10 form-column">
                <input required type="text" class="form-control" id="searchText" placeholder="Type the name of the title you want to watch...">
                <svg xmlns="http://www.w3.org/2000/svg" onclick="clearSearch()" class=" hidden" title="Clear the search" id="closeIcon" width="24" height="24" viewBox="0 0 24 24">
                  <path
                    d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
                  />
                </svg>
            </div>
            <div class="col-md-3 col-lg-2 form-column">
                <button class="btn  btnSend" type="submit">Search</button>
            </div>
          </div>
        </form>
    </div>
</div>