<div class="container movies-wrap">
    <div class="container">
        <div id="wrap-title"></div>
        <div id="movies" class="row"></div>
    </div>
    <div class="container">
        <div id="pagination" class="row"></div>
    </div>
</div>